@model Repository.Models.Rodzaj
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Tytul = "Szczegóły rodzaj nr" + Model.Id;
    ViewBag.Opis = "Szczegóły rodzaj nr" + Model.Id;
    ViewBag.SlowaKluczowe = "rodzaj, " + Model.Id + ", lista, czytelnia";
}

<h2>Szczegóły rodzaju nr @Model.Id</h2>

<div>
    <h4>rodzaj</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        
    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik")))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @: |
    }
    @Html.ActionLink("Wróć", "Index", null, new { @class = "btn btn-info" })
</p>
